# vim ft=yaml
sudo: false  # To use travis container infrastructure

dist: xenial

language: cpp

os:
  - linux
  - osx

compiler:
  - clang
  - gcc

matrix:
  fast_finish: true
  exclude:
    - os: osx # This is identical (apparently) to os: osx and compiler: gcc
      compiler: clang

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libeigen3-dev
      - libsuitesparse-dev
      - libboost-dev
      - octave
      - liboctave-dev
      - gcc-6
      - g++-6
  homebrew:
    packages:
      - eigen
      - octave
      - boost
      - suitesparse
      - sundials

# Set global environment variables
env:
  global:
    - USE_OCTAVE=true
    - SUNDIALS_VERSION=4.1.0

# Override default compiler with newer one, only on GCC, which
# appears to be the only way to get a new enough stdlib.
# Linux installation also requires a newer version of Sundials.
# Note: Multi-line YAML syntax
install:
  - |
    if [[ ${TRAVIS_OS_NAME} == "linux" ]] ; then
      if [[ ${TRAVIS_COMPILER} == "gcc" ]] ; then
        export CC=gcc-6;
        export CC_FOR_BUILD=${CC};
        export CXX=g++-6;
        export CXX_FOR_BUILD=${CXX};
      fi
      cd ${TRAVIS_BUILD_DIR} ;
      curl -L https://computation.llnl.gov/projects/sundials/download/sundials-${SUNDIALS_VERSION}.tar.gz -o sundials-${SUNDIALS_VERSION}.tar.gz ;
      tar xzf sundials-${SUNDIALS_VERSION}.tar.gz ;
      mkdir -p ${TRAVIS_BUILD_DIR}/sundials-${SUNDIALS_VERSION}/build ;
      cd ${TRAVIS_BUILD_DIR}/sundials-${SUNDIALS_VERSION}/build ;
      cmake -DCMAKE_INSTALL_PREFIX=${TRAVIS_BUILD_DIR}/sundials -DEXAMPLES_INSTALL_PATH=${TRAVIS_BUILD_DIR}/sundials -DBUILD_ARKODE=OFF -DBUILD_CVODE=OFF -DBUILD_CVODES=OFF -DBUILD_IDAS=OFF -DBUILD_KINSOL=OFF -DKLU_ENABLE=ON -DKLU_INCLUDE_DIR=/usr/include/suitesparse -DKLU_LIBRARY_DIR=/usr/lib/x86_64-linux-gnu .. ;
      make && make install ;
    fi

script:
  - |
    if [[ ${TRAVIS_OS_NAME} == "linux" ]] ; then
      if [[ ${TRAVIS_COMPILER} == "gcc" ]]; then
        export CC=gcc-6;
        export CC_FOR_BUILD=${CC};
        export CXX=g++-6;
        export CXX_FOR_BUILD=${CXX};
      fi
      export SUNDIALS_LDIR=${TRAVIS_BUILD_DIR}/sundials/lib ;
      export SUNDIALS_INCDIR=${TRAVIS_BUILD_DIR}/sundials/include ;
      cd ${TRAVIS_BUILD_DIR} && make pde1d.mex ;
    fi
  - |
    if [[ ${TRAVIS_OS_NAME} == "osx" ]] ; then
      cd ${TRAVIS_BUILD_DIR} && make pde1d.mex ;
    fi
